@media screen and (max-width 768px) {
    .header {
        width: 550px;
    };

    .container {
        width: 550px;
    }

    .footer {
        width: 500px;
    }
}

@media screen and (max-width 640px) {
    .header {
        width: 400px;
    };

    .container {
        width: 400px;
    }

    .footer {
        width: 400px;
    }
}

html {
    height: 100%;
}

body {
    width: 1162px;
    margin: 0 auto;
    height: 100%;
}

.header {
    height: 70px;
    margin: 0 auto;
    border-bottom: 2px solid #cccccc; 
}

.header-content {
    display: flex;
    background-color: #ffffff;
    margin: 0 auto;
    width: 960px;
}

#about-link {
    color: white;
    height: 30px;
    width: 250px;
    background-color: rgb(74, 170, 165);
    text-align: center;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 20px 0px;
    margin: 0px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.navigation {
    display: flex;
    height: 20px;
    width: 200px;
    justify-content: space-between;
    margin: 25px 0px 25px 500px;
}

.navigation a {
    color: rgb(99, 104, 104);
    text-decoration: none;
    padding: 0px 10px;
}

.navigation > a:hover {
    text-decoration: underline;
}

.border-right {
    border-right: 1px solid rgb(221, 221, 221);
}

.container {
    background-image: url("../images/concrete_seamless.png");
    min-height: 100%;
    padding: 38px 0px 0px 0px;
    box-sizing: border-box; 
    margin-bottom: -50px; 
}

.about-me {
    background-color: #ffffff;
    width: 898px;
    margin: 0 auto;
    padding: 38px 30px 38px 38px;
    border: 1px solid #dddddd;  
}

.about-me h2 {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color: #4aaaa5;
    border-bottom: 4px solid  rgb(221, 221, 221);
    padding-bottom: 30px;
    margin: 0;
}

.about-me h3 {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color: #4aaaa5;
    font-weight: 900;
    text-shadow: 1px 1px 4px #777777;
}

#float {
    margin-top: 30px;
    margin-right: 30px;
    float: left;
}

.text {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    list-style-type:lower-greek;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.text-p {
    margin-top: 30px;
}

.text span {
    color: #4aaaa5;
    font-style: italic;
    font-weight: 500;
    text-shadow: 1px 1px 2px #777777;
}

.text span:hover {
    text-decoration: underline;
}

.about-me h3 + p, .about-me ol + h3 {
    text-align: center;
}

.about-me ol + h3 {
    margin-top: 25px;
}

.push {
    height: 50px;
}

.footer {
    height: 50px;
    width: 100%;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    color: white;
    text-align: center;
}

.footer p {
    margin-top: 30px;
    font-size: 12px;
}